<main>
  <h1>Ajouter un article</h1>
  <form name="f" ng-submit="$ctrl.submit()">
    <label>
      <div>Nom</div>
      <input
        type="text"
        name="name"
        ng-model="$ctrl.article.name"
        required
        app-autofocus
      />
    </label>
    <label>
      <div>Prix</div>
      <input
        type="number"
        step="0.01"
        name="price"
        ng-model="$ctrl.article.price"
        required
      />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" name="qty" ng-model="$ctrl.article.qty" required />
    </label>
    <button ng-disabled="f.$invalid" class="primary">Ajouter</button>
  </form>
  {{ $ctrl.article }}
</main>
