<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, beatae
    corrupti. Illum quisquam voluptatibus perferendis cum architecto doloremque
    dolore laboriosam excepturi ab tempora, nulla nihil, harum, amet accusamus
    explicabo voluptates? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi error suscipit sit, corporis neque optio nulla fugiat doloremque
    iste in impedit praesentium voluptas molestias minus, dolores autem, natus
    quis obcaecati.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, beatae
    corrupti. Illum quisquam voluptatibus perferendis cum architecto doloremque
    dolore laboriosam excepturi ab tempora, nulla nihil, harum, amet accusamus
    explicabo voluptates? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi error suscipit sit, corporis neque optio nulla fugiat doloremque
    iste in impedit praesentium voluptas molestias minus, dolores autem, natus
    quis obcaecati.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, beatae
    corrupti. Illum quisquam voluptatibus perferendis cum architecto doloremque
    dolore laboriosam excepturi ab tempora, nulla nihil, harum, amet accusamus
    explicabo voluptates? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi error suscipit sit, corporis neque optio nulla fugiat doloremque
    iste in impedit praesentium voluptas molestias minus, dolores autem, natus
    quis obcaecati.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, beatae
    corrupti. Illum quisquam voluptatibus perferendis cum architecto doloremque
    dolore laboriosam excepturi ab tempora, nulla nihil, harum, amet accusamus
    explicabo voluptates? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi error suscipit sit, corporis neque optio nulla fugiat doloremque
    iste in impedit praesentium voluptas molestias minus, dolores autem, natus
    quis obcaecati.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, beatae
    corrupti. Illum quisquam voluptatibus perferendis cum architecto doloremque
    dolore laboriosam excepturi ab tempora, nulla nihil, harum, amet accusamus
    explicabo voluptates? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi error suscipit sit, corporis neque optio nulla fugiat doloremque
    iste in impedit praesentium voluptas molestias minus, dolores autem, natus
    quis obcaecati.
  </p>
</main>
