@import "../node_modules/normalize.css/normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

main {
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background-color: #eee;
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background-color: #ddd;
    }
    &:active {
      border-color: #ccc;
      background-color: #ccc;
    }

    &.primary {
      color: #fff;
      border-color: #333;
      background-color: #333;
      &:hover {
        border-color: #444;
        background-color: #444;
      }
      &:active {
        border-color: #555;
        background-color: #555;
      }
    }
  }
}
