@import "../node_modules/normalize.css/normalize.css";

body {
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #eee;
  height: 3em;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

header a {
  display: flex;
  align-items: center;
  gap: 0.5em;

  text-decoration: inherit;
  color: inherit;
}

header a:hover {
  text-decoration: underline;
}

header a img {
  height: 2.5em;
}

header a span {
  font-size: 1.5em;
}

footer {
  background-color: #eee;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: inherit;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}
